*{
    padding: 0;
    margin: 0;
}

img{
    width: 40px;
    cursor: pointer;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    margin: 0px 5px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(185, 178, 178);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
button:active{
    color: black;
    background-color: red;
    font-size: 13px;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
table thead,td,tr,tbody, th{
    border: 2px black solid;
    /* border-collapse:collapse; */
    padding: 5px;
}
table{
    border-collapse: collapse;
    margin-bottom: 30px;

}
td{
    color: red;
}